<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
            <fieldNames>
                <requestHeaders>request_headers</requestHeaders>
                <responseHeaders>response_headers</responseHeaders>
            </fieldNames>
            <lowerCaseHeaderNames>true</lowerCaseHeaderNames>
            <requestHeaderFilter>
                <exclude>Authorization</exclude>
                <exclude>Cookie</exclude>
            </requestHeaderFilter>
        </encoder>
    </appender>
    <appender-ref ref="CONSOLE" />
</configuration>
